<h1>新しい投稿通告連絡</h1>

<p>
  通告者: <%= @notification.user_id || 'N/A' %><br>
  投稿ID: <%= @notification.post_id || 'N/A' %><br>
  アクション: <%= @notification.action %><br>
  通知内容: <%= @notification.comment %>
</p>
