<div class="card mx-auto w-50 mb-4">
  <div class="card-body">
    <h5 class="mb-4 text-center">500 - 内部サーバーエラー</h5>
    <p class="text-center">申し訳ございませんが、サーバーで問題が発生しました。</p>
    <div class="mt-3 d-flex justify-content-center">
      <%= link_to 'ホームページに戻る', root_path, class: 'btn btn-custom', style: 'background-color: #ffcccc;' %>
    </div>
  </div>
</div>
